
/* TODOS IMPORTS TEM QUE SER COLOCADOS NO INICIO */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+WAL:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&family=Playwrite+BE+WAL:wght@100..400&display=swap');


body{
    background-color: wheat;
}


.figura{
width: 500px;
border-radius: 50%;
}

.imagens{
width: 200px;
}

.imagens{
width: 200px;
}



/* classe para configuração fonte */
.fontes{
color: black;
size: 16px;
font-family: "Playwrite BE WAL",cursive;}

.fonte1{
color: blue;
size: 17px;
font-family: "Playwrite BE VLG", cursive;
}

.fonte2{
  color: aqua;  
  size: 20px;
  font-family: "Pacifico", cursive;

  


}
